<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve" width="512px" height="512px"><g><g>
<g>
<path d="M270.051,248.486h-6.537v-6.537c0-4.15-3.364-7.514-7.514-7.514c-4.15,0-7.514,3.364-7.514,7.514v6.537h-6.538    c-4.15,0-7.514,3.364-7.514,7.514c0,4.15,3.364,7.514,7.514,7.514h6.538v6.538c0,4.15,3.364,7.514,7.514,7.514    s7.514-3.364,7.514-7.514v-6.538h6.537c4.15,0,7.514-3.364,7.514-7.514C277.565,251.85,274.201,248.486,270.051,248.486z" data-original="#000000" class="active-path" data-old_color="#ededed" fill="#ededed"/>
</g>
</g><g>
<g>
<path d="M507.568,79.025c-2.697-1.212-5.856-0.732-8.067,1.23c-9.836,8.721-20.332,17.07-31.198,24.814    c-11.262,8.027-23.186,15.479-35.443,22.148c-3.645,1.983-4.993,6.546-3.009,10.192s6.548,4.992,10.191,3.009    c12.787-6.957,25.23-14.733,36.982-23.11c6.809-4.853,13.48-9.936,19.946-15.194v307.794    c-40.886-33.088-89.084-57.197-141.258-70.766V173.731c11.337-2.971,22.566-6.466,33.643-10.492    c3.9-1.418,5.912-5.728,4.495-9.629c-1.418-3.9-5.729-5.912-9.629-4.495c-113.855,41.387-244.337,24.51-340.526-44.046    C32.83,97.325,22.333,88.977,12.497,80.255c-2.213-1.961-5.37-2.443-8.067-1.23C1.735,80.238,0,82.92,0,85.877v340.247    c0,2.958,1.735,5.64,4.433,6.853c0.988,0.445,2.037,0.661,3.08,0.661c1.804,0,3.586-0.65,4.988-1.893    c1.083-0.961,2.169-1.912,3.256-2.853c20.984-18.169,44.304-33.883,69.311-46.709c3.692-1.894,5.151-6.423,3.257-10.115    c-1.895-3.693-6.423-5.15-10.115-3.257c-22.512,11.547-43.717,25.342-63.181,41.095V102.112    c6.466,5.259,13.137,10.342,19.946,15.194c36.55,26.05,77.845,44.936,121.311,56.324v165.509    c-9.424,2.452-18.761,5.247-27.981,8.403c-3.926,1.344-6.02,5.616-4.675,9.542c1.343,3.925,5.612,6.019,9.543,4.676    c60.525-20.72,126.152-25.704,189.785-14.407c65.102,11.555,125.023,39.751,173.286,81.538c1.088,0.942,2.173,1.893,3.257,2.854    c1.402,1.244,3.184,1.893,4.988,1.893c1.042,0,2.092-0.217,3.08-0.661c2.697-1.212,4.433-3.895,4.433-6.853V85.877    C512,82.92,510.265,80.238,507.568,79.025z M340.687,335.555L340.687,335.555c-5.005-1.092-10.037-2.099-15.103-2.998    c-51.317-9.107-103.888-8.021-154.27,2.984V177.249c55.2,12.146,113.36,12.397,169.373,0.09V335.555z" data-original="#000000" class="active-path" data-old_color="#ededed" fill="#ededed"/>
</g>
</g><g>
<g>
<path d="M24.773,28.122H9.755c-4.15,0-7.514,3.364-7.514,7.514v14.081c0.001,4.151,3.365,7.514,7.514,7.514    c4.15,0,7.514-3.364,7.514-7.514V43.15h7.504c4.15,0,7.514-3.364,7.514-7.514C32.287,31.486,28.923,28.122,24.773,28.122z" data-original="#000000" class="active-path" data-old_color="#ededed" fill="#ededed"/>
</g>
</g><g>
<g>
<path d="M502.245,28.122h-15.018c-4.15,0-7.514,3.364-7.514,7.514c0,4.151,3.364,7.514,7.514,7.514h7.504v6.567    c0,4.15,3.364,7.514,7.514,7.514c4.15,0,7.514-3.364,7.514-7.514V35.636C509.759,31.486,506.395,28.122,502.245,28.122z" data-original="#000000" class="active-path" data-old_color="#ededed" fill="#ededed"/>
</g>
</g><g>
<g>
<path d="M24.773,468.852h-7.504v-6.567c0-4.15-3.364-7.514-7.514-7.514s-7.514,3.364-7.514,7.514v14.081    c0,4.15,3.364,7.514,7.514,7.514h15.018c4.15,0,7.514-3.364,7.514-7.514C32.287,472.215,28.923,468.852,24.773,468.852z" data-original="#000000" class="active-path" data-old_color="#ededed" fill="#ededed"/>
</g>
</g><g>
<g>
<path d="M502.245,454.771c-4.15,0-7.514,3.364-7.514,7.514v6.567h-7.504c-4.15,0-7.514,3.364-7.514,7.514    c0,4.15,3.364,7.514,7.514,7.514h15.018c4.15,0,7.514-3.364,7.514-7.514v-14.081C509.759,458.134,506.394,454.771,502.245,454.771    z" data-original="#000000" class="active-path" data-old_color="#ededed" fill="#ededed"/>
</g>
</g></g> </svg>
