@import "variables"

$visual-width: 40%
$visual-width-mobile: 60px

.area
  min-height: 200px
  background-color: $dark
  &-list
    width: 100%
    max-width: 800px
    margin: 0 auto
    padding: 20px 0
    @media(min-width: $bp-sm)
      padding: 40px 0
    @media(min-width: $bp-md)
      padding: 80px 0
    li
      display: flex
      .info-block
        display: flex
        align-items: center
        flex-basis: calc(100% - #{$visual-width})
        font-size: 12px
        line-height: 1.2
        color: $yellow
        @media(min-width: $bp-xs)
          font-size: 14px
          line-height: 1.5
        @media(min-width: $bp-sm)
          font-size: 16px
        @media(min-width: $bp-md)
          font-size: 18px
      .visual-block
        flex-basis: $visual-width-mobile
        padding: 36px 20px
        height: 120px
        @media(min-width: $bp-sm)
          padding: 20px
          flex-basis: $visual-width
        @media(min-width: $bp-md)
          height: 160px
          padding: 20px 40px
        img
          height: 100%
      &:nth-child(2n + 1)
        .info-block
          justify-content: flex-end
          text-align: right
      &:nth-child(2n)
          .visual-block
            text-align: right
  

