div(class="action")
    div(class="wrapper")
        div(class="action-wrapper")
            h4 Понравился наш продукт?
            p Узнайте чем он может быть полезен в вашей сфере.
            button(type="button") Узнать подробнее