div(class="advantages" id="advantages")
    div(class="wrapper")
        div(class="tab-block")
            ul(class="tabs")
                li(class="active" data-index=1)
                    img
                    span
                li(data-index=2)
                    img
                    span
                li(data-index=3)
                    img
                    span
                li(data-index=4)
                    img
                    span
                li(data-index=5)
                    img
                    span
                li(data-index=6)
                    img
                    span
                li(data-index=7)
                    img
                    span
                li(data-index=8)
                    img
                    span
                li(data-index=9)
                    img
                    span
                li(data-index=10)
                    img
                    span

            div(class="panel-block")
                div(class="tab-panel active")
                    h4 Виртуальный тур качества 4K
                    p
                div(class="tab-panel")
                    h4 Поддержка всеми VR технологиями
                    p Вы испытываете захватывающие чувство погружения в 3D пространство, используя VR очки. Позволяет перенестись и ощутить полное присутствие на объекте
                div(class="tab-panel")
                    h4 Фотографии вашего объекта в 2D и в формате 360*
                    p Вместе с туром вы получаете фото вашего объекта в формате 2D и 360*
                div(class="tab-panel")
                    h4 План помещения c точными замерами (2D)
                    p Не нужно дополнительно вызывать специалистов, чтобы они сделали замеры и вручную составили план помещения. Вы получите его сразу после съемки
                div(class="tab-panel")
                    h4 Оригинальный и визуально-привлекательный Dollhouse View
                    p Интерактивный вид сверху на помещение, позволяет увидеть расположение всех комнат. Пространство можно вращать на 360°
                div(class="tab-panel")
                    h4 Возможность добавлять медиа-ссылки и теги в 3D пространство
                    p Внедрение мультимедийного контента в тур позволяет правильно расставить акценты и является для ваших клиентов дополнительным призывом к действию
                div(class="tab-panel")
                    h4 Доступ в программу, в которой вы можете в любой момент выгрузить фото вашего помещения с любого ракурса
                    p Вы получаете доступ к программе, в которой вы можете скачать фото помещения с любого ракурса и использовать их для вашего сайта и социальных сетей
                div(class="tab-panel")
                    h4 Размещение 3D тура в Google Street View
                    p Размещение виртуального тура в Google Street View  позволяет привлечь новых клиентов и создает wow- эффект у них
                div(class="tab-panel")
                    h4 Возможность внедрения на сайт и социальные сети вашей компании
                    p Вы можете воспользоваться инструкцией для добавления тура на ваш сайт или же наш специалист вам в этом поможет
                div(class="tab-panel")
                    h4 3D витрина
                    p Просмотр и демонстрация созданного контента доступны с любого устройства, независимо от подключения к интернету, через виртуальную витрину в приложении 3D Showcase
