div(class="area")
    div(class="wrapper")
        ul(class="area-list")
            li Коммерческая недвижимость (торговые и бизнес центры, складские комплексы).
            li Жилая недвижимость (квартиры).
            li Сфера обслуживания (отели, рестораны, магазины, SPA салоны, медицинские центры и т.д.).
            li Строительство, архитектура и дизайн интерьеров.
