div(class="clients" id="clients")
    div(class="wrapper")
        div(class="feedback-block")
            //div(class="header") Наши клиенты
            div(class="swiper-container")
                div(class="swiper-wrapper")
                    div(class="swiper-slide")
                        p В связи с открытием нового филиала нашей компании в Украине, необходимо было выбрать офисное помещение. Сложность заключалась в том, что у нас не было ни времени, ни возможности приехать и посмотреть вживую. Несмотря на это, благодаря виртуальным турам компании Alterra, мы смогли почувствовать и найти желаемое помещение.
                    div(class="swiper-slide")
                        p У меня, как у архитектора, зачастую во время творческого процесса возникает необходимость повторно осмотреть помещение, но не всегда есть время на это и возможность приехать на объект. Виртуальные туры очень выручают меня так как я получаю план помещения, мне не нужно тратить время и делать собственные замеры, и в любой момент я могу пересмотреть помещение, ощутить его атмосферу и продолжать вносить коррективы в свой проект.
                    div(class="swiper-slide")
                        p Виртуальный тур - настоящие открытие для меня. Я работаю риелтором, наша компания получила 3D тур, план помещения и полный пакет фото/видео для создания качественной и яркой презентации элитной квартиры в центре Киева, благодаря чему мы смогли продать ее в течении недели после проведения съемки.
                    div(class="swiper-slide")
                        p Наши клиенты всегда просматривают фото прежде чем выбрать номер и забронировать его. Благодаря Inside Production, мы полностью обновили фото на нашем сайте и внедрили виртуальный тур с онлайн бронированием. Такое нововведение позволило увеличить количество наших клиентов и повысить их лояльность.

                div(class="swiper-pagination")
                div(class="swiper-button-prev")
                div(class="swiper-button-next")