div(class="cover")
    div(class="wrapper")
        div(class="cover_info")
            h2 Inside Production
            p Мы предлагаем всем, кто работает с недвижимостью, инновационные виртуальные туры по технологии matterport, которая дает возможность полного дистанционного присутствия на объекте.
        div(class="cover_video") VIDEO
