- var first = {link: '#advantages', label: 'Наши преимущества'}
- var second = {link: '#portfolio', label: 'Портфолио'}
- var third = {link: '#price', label: 'Цена'}
- var fourth = {link: '#clients', label: 'Наши клиенты'}
- var fifth = {link: '#contacts', label: 'Контакты'}
- var menu = [first, second, third, fourth, fifth]

header(class="header")
    div(class="wrapper header-inner")
        div(class="logo") Inside Production
        nav
            ul
                each item in menu
                  li
                    a(href=`${item.link}`) #{item.label}