header(class="header")
    div(class="wrapper header-inner")
        div(class="logo") Inside Production
        nav
            ul
                li
                    a(href='#advantages') Наши преимущества
                li
                    a(href='#portfolio') Портфолио
                li
                    a(href='#price') Цена
                li
                    a(href='#clients') Наши клиенты
                li
                    a(href='#contacts') Контакты