doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Inside Production
        link(rel="stylesheet" href="css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet")
        script(src="js/app.min.js")
        body
            include header.pug
            include cover.pug
            include area.pug
            include advantages.pug
            include portfolio.pug
            include process.pug
            include price.pug
            include clients.pug
            include action.pug
            include contacts.pug