div(class="prices" id="price")
    div(class="wrapper")
        div(class="prices-wrap")
            div(class="prices-header")
                h4 Цены
            p
                span 0 - 100м2
                span
                    span(class="value") 200$
            p
                span 101 - 300м2
                span
                    span(class="value") 2$/м2
            p
                span 301 - 1000м2
                span
                    span(class="value") 1,25$/м2
            p
                span больше 1000м2
                span
                    span(class="value") по запросу
            p
                span Google Street View
                span
                    span(class="value") 15$